<h1>Корзина</h1>
<table class="cart_table">
<% current_cart.items.each_with_index do |item, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%=item.price*item.quantity %></td>
        <td><%= link_to 'удалить', item_path(item), method: :delete %></td>
      </tr>
<% end %>
  <tr>
    <td colspan="3">Итого</td>
    <td colspan="2"><%= @total_price %> грн.</td>
  </tr>
</table>

<% if current_cart.items.any? %>
<br><%= link_to 'Оформить заказ', new_order_path %>
<% end %>